.game-double-container
	.spinner
		.l-flex
			each el in range
				- const className = `s-bg-${el.color}`
				.spinner-item.l-flex-1(class=className)= el.value

	.bids bids

	.actions actions

	.users users

	pre= JSON.stringify(locals)