@import "~styles/variables";

.game-double {

  & * {
    box-sizing: border-box;
  }

  &-container {
    padding: 10px;
    background-color: #e7edf1;
    color: map-get($COLORS,'base');
    min-width: 600px;
  }

  $itemSide: 40px;

  .spinner {
    position: relative;
    border: 1px solid white;
    padding: 1px;
    transform-style: preserve-3d;
    // [DEBUG]
    overflow: hidden;
  }

  .spinner-item {
    color: white;
    width: $itemSide;
    height: $itemSide;
    line-height: 26px;
    text-align: right;
    padding: 7px;
    box-sizing: border-box;
    font-weight: 100;
  }

  .spinner-cells {
    width: 100%;
    position: relative;
  }

  .indicator {
    width: $itemSide;
    height: $itemSide;
    position: absolute;
    top: 0px;
    left: calc( 50% - #{$itemSide} / 2);
    border: 1px solid white;
    z-index: 10;
    background-color: rgba(255,255,255,0.3);
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: white;
      left: 50%;
      z-index: 10;
    }
  }

  .animatable {
    left: calc( -100% + 1px );
    position: relative;

    animation-duration: 9s;
    animation-timing-function: cubic-bezier(0.36, 0.04, 0.18, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: initial;
    animation-fill-mode: initial;
  }

  .bet-input {
    padding: 0 10px;
    &:disabled {
      opacity: .5;
    }
  }

  .bet-actions {
    border-radius: 6px;
    overflow-y: auto;
    & > * {
      text-align: center;
      &:not(:active) {
        box-shadow: none;
      }
      &:active {
        transform: initial;
      }
      &:focus {
        outline: none;
      }

      &:disabled {
        opacity: .5;
      }
    }
    & > * + * {
      border-left: 1px solid #d2d4d6;
      border-right: none;
    }
  }

  .put-on-button {
    transition: all .2s ease-in-out;
  }

  input:checked + .put-on-button {
    outline: 6px solid red;
  }

  input:disabled + .put-on-button {
    opacity: 0.2;
  }

  .users-list {
    & > * {
      padding: 5px 8px 5px 2px;
      background-image: linear-gradient(to right,transparent 20%,rgba(0,0,0,0.2));
      margin-bottom: 5px;
    }
    & > *:not(:last-child) {
      border-bottom: 1px solid lighten(map-get($COLORS,'base'),20%);
    }
  }

  .spin {
    animation-name: spin;
    animation-play-state: running;
  }

}

@keyframes spin {
  $count: 8;
  to {
    transform: translateX(-100% * $count);
  }
}